<nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
      <a class="navbar-brand m-2 ms-3"><h1 class="text-light"><i class="fa-solid fa-cart-shopping"></i>ProdKart</h1></a>
      <form class="d-flex input-group w-auto">
        
        <button class="btn btn-success border-0 text-light me-2" id=""><i class="fas fa-cart-shopping"></i></button>
        <button class="btn btn-success border-0 text-light me-2" id=""><i class="fas fa-question"></i></button>
        <button class="btn btn-success border-0 text-light me-2" id=""><i class="fas fa-user"></i></button>
      </form>
    </div>
  </nav>